/**
 * Global overrides
 */
.container {
	width: 1020px !important;
}
/* */
#footer {padding:0 !important;}
#content-footer {height:auto;}
#button-back-container {float:right;margin-right:10px;}

div.breadcrumbs{
	padding-top:0 !important;
}
div.breadcrumbs span {font-weight:normal;}
div.list-view {
	padding:0 5px;
}
.list-view-loading {background:none !important;}
.list-view .items {
	font-size:16px;
}
.list-view .items .race-header {
	background:#707070;
	padding:4px;
	color:#ffffff;
}
.list-view .items .race-data {height:380px;overflow:hidden;}
.list-view .items table {
	border-collapse:collapse;
	margin: 0 !important;
	border:1px solid #cccccc;
}
.list-view .portlet-container .portlet-content{
	background:#ffffff !important;
	padding:0 !important;
	margin:0 !important;
	position:relative;
}
.list-view .pager {
	text-align:center !important;
}

ul.yiiPager, ul.yiiPager li.previous, ul.yiiPager li.next, ul.yiiPager li.controls {
	display:inline-block !important;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
    border: 0 !important;
    color: #808080 !important;
    font-weight:bold !important;
    padding: 0 !important;
    text-decoration: none;
}
span#visibility-toggler {
	display:inline-block;
	border:0;
	padding:0;
	margin:0;
	height:36px;
	width:180px;
}
span#visibility-toggler.toggler-label.not-raced {
	background:url(../images/button-not-raced.png) 0 0 no-repeat;
}
span#visibility-toggler.toggler-button.show-details,span#visibility-toggler.toggler-button.show-results {
	cursor:pointer;
}	
span#visibility-toggler.toggler-button.show-details {
	background:url(../images/button-show-details.png) 0 0 no-repeat;
}
span#visibility-toggler.toggler-button.show-results {
	background:url(../images/button-show-results.png) 0 0 no-repeat;
}

/* * Scroller * */
div#scrollerContainer {
	float:right;
	padding:1px;
	position:relative;
	width:50px;
	height:392px;
}
div#scrollerContainer span#button-scroll-up, div#scrollerContainer span#button-scroll-down{
	position:absolute;
	display:inline-block;
	height:50px;
	width:50px;
	cursor:pointer;
}
div#scrollerContainer span#button-scroll-up {
	background:url(../images/scroller/button-scroll-up.png) 0 0 no-repeat;
}
div#scrollerContainer span#button-scroll-down {
	background:url(../images/scroller/button-scroll-down.png) 0 0 no-repeat;
	bottom:0;
}

.race-detail-header {
	background:#cccccc;
	border:1px solid #cccccc;
}
.race-detail-header .column-header {
	float:left;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	padding:4px 2px;
}

.race-detail-header .column-header.spc-weight,
.race-detail-header .column-header.spc-age,
.race-detail-header .column-header.horseshoe, 
.race-detail-header .column-header.jockey-weight{
	font-size:12px;
}
.race-detail-header .column-header.stud,
.race-detail-header .column-header.spc,
.race-detail-header .column-header.jockey,
.race-detail-header .column-header.keeper {
	font-size:14px;
}

.race-detail {height:354px;overflow:auto;}
.race-results {height:360px;overflow:auto;}

.race-detail table  {position:relative;}
.race-detail table tbody td {padding:5px 2px;}
.race-detail table tbody td.keeper {padding-right:0;}

.list-view .items table th, .order, .spc-weight, .horseshoe, .jockey-weigth, .spc-age, .last-ones, .difference,
.winner, .second, .third {
	text-align:center;
}

.list-view .items table tr {border-bottom:1px solid #999999;}
.spc, .jockey, .jockey2, .jockey3, .jockey4 {
	text-transform:uppercase;
}
.standing {
	text-align:right;
	padding-right:4px !important;
}

/* Total: 990px */
.race-detail-header .stud, .race-detail .stud {width:160px;}
.race-detail-header .last-ones, .race-detail .last-ones {width:72px;}
.race-detail-header .order, .race-detail .order {width:30px;}
.race-detail-header .spc, .race-detail .spc {width:170px;}
.race-detail-header .spc-weight, .race-detail .spc-weight {width:40px;}
.race-detail-header .spc-age, .race-detail .spc-age {width:38px;}
.race-detail-header .horseshoe, .race-detail .horseshoe {width:60px;}
.race-detail-header .jockey-weight, .race-detail .jockey-weight {width:36px}
.race-detail-header .keeper, .race-detail .keeper {width:164px;}
.race-detail-header .would-paid {text-align:right; padding-right:25px !important;}
.jockey, .jockey2, .jockey3, .jockey4 {width:182px;}

.detail-raced .standing {width:60px; font-weight:bold;}
.detail-raced .difference {width:92px; text-align:center;}
.detail-raced .last-ones {width:86px;}
.detail-raced .order {width:36px; text-align:center;}
.detail-raced .spc {width:194px;}
.detail-raced .spc-weight {width:44px;}
.detail-raced .spc-age {width:38px;}
.detail-raced .horseshoe {width:66px;}
.detail-raced .jockey, .detail-raced .jockey2, .detail-raced .jockey3, .detail-raced .jockey4 {width:200px;}
.detail-raced .jockey-weight {width:40px; text-align:center;}
.detail-raced .keeper {width:158px;}
.detail-raced .column-header.would-paid {width:80px; text-align:center;}


/*** Categoria Jockey ***/
.not-running * {color:#777777;background:#ffe0e0 !important;}
.jockey2{color:#ffcc33;}
.jockey3{color:#00CC00;}
.jockey4{color:#ff3333;}
.retired {text-align:center;color:#ff6363;text-transform:uppercase;}
div.tratado{
	float:right;
	color:#009966;
	font-size:10px;
	font-weight:bold;
}

.race-result td.order {text-align:right;}